@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.wrapper {
  padding: 0 24px;
}

.item-shadow {
  box-shadow:
    rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.before-item::before {
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
}

.gradient {
  background: #9796f0;  
  background: -webkit-linear-gradient(to bottom, #fbc7d4, #9796f0); 
  background: linear-gradient(to bottom, #fbc7d4, #9796f0);
}

.main-h {
  height: calc(100vh - 80px);
}